## config/kamailio-local.cfg

#!define DBGLEVEL 2

#!define SIPADDRINTERN "sip:<internal_ip_change_it>:5060"

listen=udp:<external_ip_change_it>:5060 advertise <advertise_ip_change_it>:5060 name "extern"
listen=udp:<internal_ip_change_it>:5060 name "intern"
listen=tcp:<external_ip_change_it>:8080 name "websocket"

mhomed=1

#!define RTPENGINE "udp:<rtp_engine_ip_change_it>:12221"

#!define WITH_ANTIFLOOD
#!define WITH_NAT
#!define WITH_RTPENGINE
#!define WITH_WSS
